<div class="container">
  <div class="task-form-and-buttons">
    <app-add-task (addTask)="onAddTask($event)"></app-add-task>
    <div *ngIf="minTimeLeft || maxOverdueTime" class="time-summary">
      <p *ngIf="minTimeLeft">Minimum Time Left: {{ minTimeLeft }} for {{ minTaskName }}</p>
      <p *ngIf="maxOverdueTime">Maximum Overdue Time: {{ maxOverdueTime }} for {{ maxTaskName }}</p>
    </div>
    <div class="sort-buttons">
      <button class="btn btn-primary" (click)="sortTasks('dueDate')">Sort by Due Date</button>
      <button class="btn btn-primary" (click)="sortTasks('priority')">Sort by Priority</button>
      <button class="btn btn-primary" (click)="sortTasks('status')">Sort by Status</button>
      <button class="btn btn-primary export-button" (click)="exportTasksToCsv()">Export to CSV</button>
    </div>
  </div>
  
  <h3>Your Tasks</h3>
  
  <div *ngIf="tasks.length === 0; else elseBlock">
    Currently, No Tasks Left
  </div>
  
  <ng-template #elseBlock>
    <div *ngFor="let task of tasks" class="task-item-container">
      <app-task-items
        [task]="task"
        (deleteTask)="onDeleteTask($event)"
        (updateTask)="onUpdateTask($event)"
      ></app-task-items>
    </div>
  </ng-template>
</div>
